#sprite {
    width: 300px;
}

.item1 { grid-area: header; }

.item2 { 
    grid-area: main-picture;
    background-color: floralwhite; 
}

.item3 { 
    grid-area: main-facts;
    background-color: floralwhite;
}

.item4 { 
    grid-area: dex-entry; 
    background-color: floralwhite;
}

.item5 { grid-area: search-bar; }
.item6 { grid-area: type-filter; }
.item7 { grid-area: random-button; }

.grid-container {
    display: grid;
    grid-template-areas:
      'header header header'
      'main-picture main-facts dex-entry'
      'search-bar type-filter random-button';
    gap: 0px;
    padding: 0px;
    grid-template-columns: 33% 33% 33%; 
  }

.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.result {
    width: 300px;
}

.type {
    width: 50px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 15px;
}

* {
    background-color: #ee1515;
}