body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #ee1515;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

#search, #filter {
    padding: 10px;
    margin: 10px;
}

/* Define a wrapper for the Pokémon cards */
#pokemonList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center; /* Center the content within the card */
}

.card img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

.card h2 {
    font-size: 1.2rem;
    margin: 10px 0; /* Add some margin below the Pokémon name */
}
